<footer id="footer">
    <div class="inner">
        <ul class="copyright">
            <li>&copy;This software is licensed under the MIT license.</li><li>Design: <a>Nilanjan Mitra</a></li>
        </ul>
    </div>
</footer>

</div>

<script src="/public/assets/js/jquery.min.js" defer></script>
<script src="/public/assets/js/toast.js" defer></script>
<script src="/public/assets/js/browser.min.js" defer></script>
<script src="/public/assets/js/breakpoints.min.js" defer></script>
<script src="/public/assets/js/util.js" defer></script>
<script src="/public/assets/js/preprocess.js" defer></script>
<script src="/public/assets/js/main.js" defer></script>

</body>
</html>