<nav id="menu">
    <div style=
        "background-image: linear-gradient(to right, red, rgb(156, 10, 156), rgb(209, 70, 214), rgb(212, 130, 223)); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; background-clip: text;"
    >
    <a><h1>Hey there!</h1></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/media_server">Media Server</a></li>
        <li><a href="/print">Print</a></li>
        <li><a href="/uploads">Uploads</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/element">Elements</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>