{
	"presets": [
		["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
		["minify"]
	],
	"plugins": [
		"babel-plugin-inline-import",
		"@babel/plugin-transform-runtime"
	],
    "ignore": [
        "**/public/assets/js"
    ]
}
