<%- include ("../partials/header") %>

<div id="main">
    <div class="inner">
        <h1>Uh, oh! Looks like you don't have access to view the requested URL!</h1>
        <hr />
        <h3>Please request access from the site administrator.</h3>
    </div>
</div>

<%- include ("../partials/footer") %>