<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>
<% var image, name %>

<div id="main">
    <div class="inner">
        <header>
            <span style="float: right;">
                <img 
                    id="profile" 
                    style="border-radius: 50%;vertical-align: middle;" src="/public/users/user.svg" 
                    width="64px" 
                    height="64px" 
                    onerror="
                        if (this.src != '/public/users/user.svg') {
                            this.src = '/public/users/user.svg'
                        };"
                    data-ccursor
                >
            </span>
            <div style="background-image: linear-gradient(to right, red, rgb(156, 10, 156), rgb(209, 70, 214), rgb(212, 130, 223)); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text;">
            <a>
                <h1 id="welcome">Welcome to Hyve, <a id="name"></a>!</h1>
            </a>
            </div>
        </header>
        <section class="tiles">
            <article class="style2">
                <span class="image">
                    <img src="/public/images/pic01.jpg" alt="" />
                </span>
                <a href="/media-server">
                    <h2><img src = "../../public/images/media_server.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Watch movies on the Mitra's Media Server</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="/public/images/pic02.jpg" alt="" />
                </span>
                <a href="/print">
                    <h2><img src = "../../public/images/printer_icon.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Print documents from a web interface<br>Making dumb &#x1F5A8;&#xFE0F; smart</p>
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="/public/images/pic03.jpg" alt="" />
                </span>
                <a href="/dashboard">
                    <h2><img src = "../../public/images/AMD.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Dashboard for the server running this website.</p>
                    </div>
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="/public/images/pic04.jpg" alt="" />
                </span>
                <a href="/uploads">
                    <h2><img src = "../../public/images/upload.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Upload a file to the Mitra's Media Server</p>
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="public/images/pic05.jpg" alt="" />
                </span>
                <a href="/downloads">
                    <h2><img src = "../../public/images/download.svg" width="200px" height="200px"></h2>
                    <div class="content">
                        <p>Download a file to the Mitra's Media Server</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>

<script src="/public/assets/js/toast.js"></script>
<script>
    setTimeout(() => {runOnLoad()}, 100)
    const username = getCookie("name")
    async function runOnLoad () {
        if (username) {
            const req = new XMLHttpRequest
            req.open('GET', '/username')
            req.send()
            req.onreadystatechange = () => {
                if (req.readyState == 4 && req.status == 200) {
                    const response = req.responseText
                    if (response === getCookie("name")) {
                        document.getElementById('name').innerText = username
                        document.getElementById('profile').setAttribute('src', `/public/users/${username}.jpg`)
                        if (getCookie("hasVisited")) {
                            setTimeout(function(){toast(`Welcome Back, ${username}!`, true, "success")}, 1500)
                        } else {
                            setTimeout(function(){toast(`Welcome To Hyve, ${username}!`, true, "success")}, 1500)
                            document.cookie = "hasVisited=true"
                        }
                    } else {
                        document.cookie = `name=${response}`
                        document.location.replace('/')
                    }
                }
            }
        } else { 
            const req = new XMLHttpRequest
            req.open('GET', '/username')
            req.send()
            req.onreadystatechange = () => {
                if (req.readyState == 4 && req.status == 200) {
                    const response = req.responseText
                    document.cookie = `name=${response}`
                    document.location.replace('/')
                }
            }
        }
    }

    function getCookie(input) {
        cookies = document.cookie.split("; ")
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].split("=")
            if (cookie[0] === input) {
                return cookie[1]
            }
        }
        return null
    }
</script>

<%- include ("../partials/footer") %>