<!DOCTYPE HTML>
<html>
	<head>
		<title>Hyve</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/public/images/logo.jpg" />
		<noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<header id="header">
				<div class="inner">
					<nav data-ccursor>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>
				</div>
			</header>
