<%- include ("../partials/header") %>
<%- include("../partials/navbar") -%>

<div id="main">
    <div class="inner">
        <h1>Whoa, whoa, whoa! Hold on there, that file you just requested doesn't exist.</h1>
        <hr />
        <a onclick='document.location.replace("/")'><h3>Return to homepage</h3></a>
    </div>
</div>

<%- include ("../partials/footer") %>