<%- include ("../partials/header") %>
<%- include("../partials/navbar") -%>

<div id="main">
    <div class="inner">
        <h1>Oops! Something, somewhere, somehow just plain broke.</h1>
        <hr />
        <p><span class="image right"><img src="/public/images/error.png" style="filter: invert(1)" /></span>Please go to some other site using the menu or refresh the page.<br>If that doesn't work, take a break! Go outside and appreciate nature's beauty while sipping on some freah Dihydrogen Monoxide. Or just make yourself a nice cup of coffee and enjoy it with a good book.</p>
    </div>
</div>

<%- include ("../partials/footer") %>