<%- include ("../partials/header") %>
<%- include ("../partials/navbar") %>

<head>
    <title>Downloads</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>
<div id = "main">
    <div class = "inner">
        <header>
            <h1>Select the files you want to download</h1>
        </header>
        <table id="serverResponse"></table>
        <h1 style="text-align: center;" id="emptyResponse"></h1>
        <button class="fit" 
                id = "rawButton"
                onclick="document.getElementById('json').classList.contains('hidden') ? 
                         document.getElementById('json').classList.remove('hidden') : 
                         document.getElementById('json').classList.add('hidden')"
        >Show RAW</button>
        <pre class="hidden" id="json">Raw JSON:</pre>
        <header>
            <h1 id = "null" style = "text-align: center;"></h1>
        </header>
    </div>
</div>

<script src="/public/assets/js/download.js"></script>

<%- include ("../partials/footer") %>
