<% include ../partials/header %>
<% include ../partials/navbar %>

<head>
    <title>Print Server</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>
<style>
    .toastify {
        padding: 12px 20px;
        color: #ffffff;
        display: inline-block;
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
        background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
        background: linear-gradient(135deg, #73a5ff, #5477f5);
        position: fixed;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        border-radius: 2px;
        cursor: pointer;
        text-decoration: none;
        max-width: calc(50% - 20px);
        z-index: 2147483647;
    }

    .toastify.on {
        opacity: 1;
    }

    .toast-close {
        opacity: 0.4;
        padding: 0 5px;
    }

    .toastify-right {
        right: 15px;
    }

    .toastify-left {
        left: 15px;
    }

    .toastify-top {
        top: -150px;
    }

    .toastify-bottom {
        bottom: -150px;
    }

    .toastify-rounded {
        border-radius: 25px;
    }

    .toastify-avatar {
        width: 1.5em;
        height: 1.5em;
        margin: -7px 5px;
        border-radius: 2px;
    }

    .toastify-center {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: fit-content;
        max-width: -moz-fit-content;
    }

    @media only screen and (max-width: 360px) {
        .toastify-right, .toastify-left {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            max-width: fit-content;
        }
    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes expand {
        from {min-width: 50px} 
        to {min-width: 350px}
    }

    @keyframes expand {
        from {min-width: 50px}
        to {min-width: 350px}
    }

    @-webkit-keyframes stay {
        from {min-width: 350px} 
        to {min-width: 350px}
    }

    @keyframes stay {
        from {min-width: 350px}
        to {min-width: 350px}
    }

    @-webkit-keyframes shrink {
        from {min-width: 350px;} 
        to {min-width: 50px;}
    }

    @keyframes shrink {
        from {min-width: 350px;} 
        to {min-width: 50px;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 60px; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 60px; opacity: 0;}
    }
</style>
<div id = "main">
    <div class = "inner">
        <header>
            <h1>Hey there!<br> Welcome to a good - looking web interface for a dumb printer</h1>
        </header>
        <p>
        <form id="upload_form" enctype="multipart/form-data" method="post">
            <label id = "uploadButton" class="icon fa-upload button fit">
            Upload A File
            <input accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx, text/*, image/*" style="display: none;" type="file" name="file" id="file" onchange="input(event)">
            </label>
            <div id="readout" class="hidden">
              <progress id="progress-bar" max="100"></progress>
              <h2 class="center" id="status"></h2>
              <h2 class="center" id="loaded_n_total"></h2>
            </div>
        </form>
        <ul class=" actions fit">
        <li><button id="printButton" class="button fit" onclick = "print()">Print</button></li>
        <li><button id="currButton" class="button fit" onclick = "getCurrentJobs();">View Current Jobs</button></li>
        </ul>
        <ul class="actions fit">
        <li><button class="button fit" onclick = "cancelAll();">Cancel All Jobs</button></li>
        <li><button class="button fit" onclick = "cancelOne();">Cancel A Single Job</button></li>
        </ul>
        </p>
        <table id = "serverResponse"></table>
        <header>
            <h1 id = "null" style = "text-align: center;"></h1>
        </header>
    </div>
</div>

<script src="/public/assets/js/toast.js" defer></script>
<script src="/public/assets/js/print.js" defer></script>

<% include ../partials/footer %>
