<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="main">
  <div class="inner">
    <h1>Select a file to upload</h1>
    <ul class="actions fit">
      <li><button class="button fit upload-btn" type="button">Upload File</button></li>
      <li><button class="button fit upload-btn-2" type="button">Upload Folder</button></li>
    </ul>
    <progress class="hidden" id="progress-bar" max="100"></progress>
    <h2 class="hidden center" id="status"></h2>
    <h2 class="hidden center" id="loaded_n_total"></h2>
    <div class="center">
      <div id = "loading" class="pulse hidden"></div>
  </div>
  </div>  
</div>

<input class="hidden" id="upload-input-file" type="file" name="uploads[]" multiple="multiple">
<input class="hidden" id="upload-input-folder" type="file" onchange="zipFiles(this, event)" multiple="multiple" webkitdirectory />

<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/zip.js"></script>
<script src="/public/assets/js/upload.js"></script>


<% include ../partials/footer %>
